{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block navbar %}
  {{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Hello, Delvag!</h1>

  <h2>It's me Robin, and I build this small web app for you 💻</h2>
</div>


{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
  {% block styles %}
    {{super()}}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
  {% endblock %}    
{% endblock %}
