{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block navbar %}
  {{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Hello, Delvag!</h1>
  <p>This is a graph drawn by Plotly, a beatiful tool for graph drawing</p>
  <div id = "chart1"></div>  
</div>

    <!-- plotly cdn -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      var graph1 = {{graph_json | safe}};
      Plotly.plot("chart1", graph1, {});
    </script>
{% endblock %}


{% block head %}
{{super()}}
{{fixes.ie8()}}
  {% block styles %}
    {{super()}}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
  {% endblock %}    
{% endblock %}

