{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}


{#  <li><a href='{{ auth_url }}'>Sign In</a></li> #}

{# {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
<li><a href='{{_build_auth_code_flow(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])["auth_uri"]}}'>Reset Password</a></li>
{% endif %}
w-100 btn btn-lg btn-primary
#}


<div class="text-center">
    <h1>Microsoft Identity Python Web App</h1>
        <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <a href='{{ auth_url }}' class="w-100 btn btn-lg btn-primary"  type="button" tabindex="-1" role="button">Sign in</a>
        {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") %}
        <a href='{{_build_auth_code_flow(authority=config["B2C_RESET_PASSWORD_AUTHORITY"])["auth_uri"]}}' class="btn btn-outline-danger" tabindex="-1" role="button">Reset password</a>
        {% endif %}
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
</div>


<footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>
{%- endblock %}